.oui-codediff {
  .d2h-info {
    background-color: #f8fafd;
    color: rgba(0, 0, 0, 0.3);
    border-color: #d5e4f2;
  }

  .d2h-file-diff .d2h-del.d2h-change {
    background-color: #fdf2d0;
  }

  .d2h-file-diff .d2h-ins.d2h-change {
    background-color: #ded;
  }

  /*
  * File Summary List
  */

  .d2h-file-list-wrapper {
    margin-bottom: 10px;
  }

  .d2h-file-list-wrapper a {
    text-decoration: none;
    color: #3572b0;
  }

  .d2h-file-list-wrapper a:visited {
    color: #3572b0;
  }

  .d2h-file-list-header {
    text-align: left;
  }

  .d2h-file-list-title {
    font-weight: bold;
  }

  .d2h-file-list-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }

  .d2h-file-list {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .d2h-file-list > li {
    border-bottom: #ddd solid 1px;
    padding: 5px 10px;
    margin: 0;
  }

  .d2h-file-list > li:last-child {
    border-bottom: none;
  }

  .d2h-file-switch {
    display: none;
    font-size: 10px;
    cursor: pointer;
  }

  .d2h-icon {
    vertical-align: middle;
    margin-right: 10px;
    fill: currentColor;
  }

  .d2h-tag {
    @include badge;
    border: none;
  }


  /*
  * Selection util.
  */

  .selecting-left .d2h-code-line,
  .selecting-left .d2h-code-line *,
  .selecting-right td.d2h-code-linenumber,
  .selecting-right td.d2h-code-linenumber *,
  .selecting-left .d2h-code-side-line,
  .selecting-left .d2h-code-side-line *,
  .selecting-right td.d2h-code-side-linenumber,
  .selecting-right td.d2h-code-side-linenumber * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .selecting-left .d2h-code-line::-moz-selection,
  .selecting-left .d2h-code-line *::-moz-selection,
  .selecting-right td.d2h-code-linenumber::-moz-selection,
  .selecting-left .d2h-code-side-line::-moz-selection,
  .selecting-left .d2h-code-side-line *::-moz-selection,
  .selecting-right td.d2h-code-side-linenumber::-moz-selection,
  .selecting-right td.d2h-code-side-linenumber *::-moz-selection {
    background: transparent;
  }

  .d2h-file-side-diff {
    vertical-align: top;
    margin-bottom: 0;
  }

  .d2h-code-linenumber {
    border-left: none;
  }
  .d2h-code-side-linenumber {
    width: 0;
  }

  .d2h-code-side-linenumber {
    color: transparent; // Hacky
  }

  &.oui-codediff__hide-title .d2h-file-header,
  &.oui-codediff__hide-info .d2h-info,
  .d2h-changed-tag {
    display: none;
  }

  // Colors

  .d2h-del {
    background-color: lighten($red-light, 25%);
    border-color: $red-light;
  }
  .d2h-code-line del, .d2h-code-side-line del {
    background-color: $red-light;
  }
  .d2h-ins {
    background-color: lighten($green-light, 25%);
    border-color: $green-light;
  }
  .d2h-code-line ins, .d2h-code-side-line ins {
    background-color: $green-light;
  }

  div.d2h-del, td.d2h-emptyplaceholder, del {
    // Visually balance out the <ins> bottom-border
    border-bottom: 1px solid transparent;
  }
  .d2h-diff-tbody tr:last-child .d2h-code-side-linenumber {
    border: 0; // Hacky
  }

  .d2h-code-side-line {
    padding: 0 spacer(3);
  }

  .d2h-wrapper td {
    padding: 0 !important;
    margin: 0 !important;
    vertical-align: unset !important;
  }

  .d2h-file-side-diff {
    overflow-x: auto !important;
  }
}
