# Updating this? Consider updating `.npmignore` as well.
npm-debug.log

dist
tmp
node_modules
s3
coverage

.bundle
.sass-cache
.DS_Store
.idea

gatsby/.cache
gatsby/data
gatsby/lite/sass.json
gatsby/react/data.json
gatsby/storybook/static/*
gatsby/node_modules
gatsby/public
