# Updating this? Consider updating `.npmignore` as well.
npm-debug.log

dist
tmp
node_modules
s3
coverage

.bundle
.sass-cache
.DS_Store
.idea
docs/.cache

docs/data
docs/lite/sass.json
docs/react/data.json
docs/storybook/static/*