# Updating this? Consider updating `.gitignore` as well.

node_modules
s3
coverage
.bundle
.sass-cache
npm-debug.log
.DS_Store
docs
dist/docs
dist/js/components/**/*.story.js
dist/js/components/**/example
.storybook
storybook-static