# Updating this? Consider updating `.gitignore` as well.

coverage
node_modules
storybook-static
s3
npm-debug.log

docs
dist/js/components/**/*.story.js
dist/js/components/**/example
dist/js/stories
src/components/**/*.story.js
src/stories

.bundle
.DS_Store
.sass-cache
.storybook
