.#{$namespace}tokens-input,
.oui-tokens-input {
  @include text-input;
  height: auto;

  &__input {
    display: flex;
    flex: 1;
    border: 0;
    border-radius: var(--border-radius);
    padding: spacer(0.5);
    margin-left: spacer(0.5);
  }
}
