%#{$namespace}table,
.#{$namespace}disclose-table,
.oui-disclose-table {

	th:nth-child(2), td:nth-child(2) {
		width: 35%;
	}

	th:nth-child(7), td:nth-child(7) {
		width: 27.5%;
	}

	.variation-table, .idea-table {
		width: 45%;
		float: left;

		thead {
			tr {
				border-bottom: 1px solid map-fetch($border, color, base);
			}
		}
	}

	.idea-table {
		margin-left: 5%;
	}

	.row-content {
		padding-left: 5%;
	}

	.variation-table {
		td {
			white-space: nowrap; 
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.is-hidden {
		display: none;
	}

	.hover-style {
		&:hover {
			background-color: map-fetch($color, background, brand-light);
			cursor: pointer;
		}
	}
}