%#{$namespace}table,
.#{$namespace}disclose-table,
.oui-disclose-table {

    .variation-table, .idea-table {
        width: 45%;
        float: left;
    }

    .row-content {
        padding-left: 5%;
    }
}