.oui-dropdown-group {
  .oui-button--outline {
    background: white;
  }
}

.oui-dropdown-group__activator-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  text-align: left;
}