////
/// Fonts
/// @description Pulls in fonts from self hosting.
///
/// Font Support:
/// - woff2: Chrome 26+, Opera 23+


$hosted-fonts:(
  weights:(
    300: light,
    400: regular,
    500: medium,
    600: semibold,
    700: bold,
  ),
  // url: 'https://dhm5hy2vn8l0l.cloudfront.net/webfonts/'
  // url: 'http://design-rebrand-fonts.s3-website-us-west-2.amazonaws.com/'
  url: 'https://optimizely.github.io/rebrand2018/dist/fonts/'
);

@if variable-exists(include-fonts) {
  @each $weight in map-fetch($include-fonts, weights) {

    @font-face {
      font-family: 'Graphik';
      font-weight: $weight;
      src: url('#{map-fetch($hosted-fonts, url)}graphik-#{map-fetch($hosted-fonts, weights, $weight)}.woff2') format('woff2'),
    }
    // Italic
    @font-face {
      font-family: 'Graphik';
      font-weight: $weight;
      font-style: italic;
      src: url('#{map-fetch($hosted-fonts, url)}graphik-#{map-fetch($hosted-fonts, weights, $weight)}it.woff2') format('woff2'),
    }

    @font-face {
      font-family: 'Lato';
      font-weight: $weight;
      src: url('#{map-fetch($hosted-fonts, url)}lato-#{map-fetch($hosted-fonts, weights, $weight)}.woff2') format('woff2'),
    }
    // Italic
    @font-face {
      font-family: 'Lato';
      font-weight: $weight;
      font-style: italic;
      src: url('#{map-fetch($hosted-fonts, url)}lato-#{map-fetch($hosted-fonts, weights, $weight)}it.woff2') format('woff2'),
    }

  }
}
