// # Typography

h1,
.alpha {
  font-size: map-fetch($font, size, alpha);
  font-weight: 300;
  line-height: 1.1;
}

h2,
.beta {
  font-size: map-fetch($font, size, beta);
  font-weight: 300;
  line-height: 1.1;
}

h3,
.gamma {
  font-size: map-fetch($font, size, gamma);
  font-weight: 400;
  line-height: 1.1;
}

h4,
.delta {
  font-size: map-fetch($font, size, delta);
}

h5,
.epsilon {
  font-size: map-fetch($font, size, epsilon);
  font-weight: 400;
}

h6,
.zeta {
  font-size: map-fetch($font, size, zeta);
  font-weight: 500;
}

// ## Heading Margin Defaults

h1 {
  margin-bottom: spacer(2);
}

h2 {
  margin-bottom: spacer(2);
}

h3 {
  margin-bottom: spacer(1);
}

// ## Text Size Overrides
// scss-lint:disable ImportantRule

.milli {
  font-size: map-fetch($font, size, milli) !important;
}

.micro {
  font-size: map-fetch($font, size, micro) !important;
}

.giga {
  font-size: map-fetch($font, size, giga) !important;
}

.mega {
  font-size: map-fetch($font, size, mega) !important;
}

.kilo {
  font-size: map-fetch($font, size, kilo) !important;
}
