.oui-dockedFooter {
  background-color:white;
  padding-bottom: spacer(2);
  box-shadow: 0 0px 0px 0px rgba(0,0,0,.12);
  transition: all .2s ease-in-out;
  margin-bottom: spacer(-2);
}
.oui-dockedFooter.is-docked {
  position: sticky;
  bottom: 0;
  margin-right: spacer(-1);
  margin-left: spacer(-1);
  box-shadow: 0 spacer(-1) spacer(1) spacer(-1) rgba(0,0,0,.12);
  padding-right: spacer(1);
}
.oui-dockedFooter .oui-button-row--right  {
  transition: all .2s ease-in-out;
}

.insideSheet {
  margin-left: spacer(6);
  width: calc(100% - 120px);
  padding: spacer(2) 0;
}
.is-docked.insideSheet {
  margin-left: spacer(5);
  width: calc(100% - 100px);
  box-shadow: 0 spacer(-1) spacer(1) spacer(-1) rgba(0,0,0,.12);
}
