$brand-blue-light: hsla(227, 100%, 95%, 1);
$brand-blue-base: hsla(227, 100%, 87%, 1);
$brand-blue-dark: hsla(227, 100%, 50%, 1);
$brand-purple-light: hsla(240, 11%, 91%, 1);
$brand-purple-base: hsla(240, 11%, 78%, 1);
$brand-purple-dark: hsla(241, 78%, 12%, 1);
$smoke-light: hsla(0, 0%, 97%, 1);
$smoke-base: hsla(0, 0%, 93%, 1);
$smoke-dark: hsla(0, 0%, 84%, 1);
$grey-light: hsla(0, 0%, 81%, 1);
$grey-base: hsla(0, 0%, 62%, 1);
$grey-dark: hsla(0, 0%, 44%, 1);
$purple-light: hsla(263, 76%, 66%, 1);
$purple-base: hsla(262, 52%, 47%, 1);
$purple-dark: hsla(259, 85%, 28%, 1);
$magenta-light: hsla(292, 71%, 63%, 1);
$magenta-base: hsla(291, 64%, 42%, 1);
$magenta-dark: hsla(290, 100%, 25%, 1);
$red-light: hsla(9, 100%, 69%, 1);
$red-base: hsla(4, 90%, 58%, 1);
$red-dark: hsla(356, 100%, 36%, 1);
$pink-light: hsla(342, 100%, 69%, 1);
$pink-base: hsla(340, 82%, 52%, 1);
$pink-dark: hsla(340, 100%, 35%, 1);
$orange-light: hsla(43, 100%, 74%, 1);
$orange-base: hsla(36, 100%, 50%, 1);
$orange-dark: hsla(33, 75%, 45%, 1);
$amber-light: hsla(56, 100%, 66%, 1);
$amber-base: hsla(45, 100%, 51%, 1);
$amber-dark: hsla(44, 100%, 39%, 1);
$green-light: hsla(119, 63%, 69%, 1);
$green-base: hsla(122, 39%, 49%, 1);
$green-dark: hsla(134, 88%, 26%, 1);
$aqua-light: hsla(186, 100%, 69%, 1);
$aqua-base: hsla(187, 100%, 42%, 1);
$aqua-dark: hsla(189, 100%, 32%, 1);
$blue-light: hsla(204, 100%, 72%, 1);
$blue-base: hsla(207, 90%, 54%, 1);
$blue-dark: hsla(207, 100%, 38%, 1);
$icon-small: 12px;
$icon-large: 16px;