$layout: (
  width:(
    root-nav: (
      closed                  : 76px,
      open                    : 226px
    ),
  ),
);
$transition: (
  stage:(
    speed: 300ms,
    easing: cubic-bezier(0.1, -0.1, 0.1, 1.1)
  ),
);
$block-link-padding: 24px;
$block-secondarylink-padding: 16px;
$icon-dimensions--large: 24px;
$icon-dimensions--small: 16px;
$animation-speed: map-fetch($transition, stage, speed) / 2;
$root-shadow: inset -1px 0px 3px 0 rgba(0, 0, 0, 0.1);

.root-nav {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  min-height: fit-content;
  z-index: map-fetch($z-index, root-nav);
  padding: spacer(2.5) 0;
  color: var(--dark-blue-100);
  background: var(--grey-25);
  width: map-fetch($layout, width, root-nav, closed);
  transition: width $animation-speed ease-in;
  &:after {
    transition: width $animation-speed ease-in;
    content : '';
    position: absolute;
    top: 0px;
    background-color: transparent;
    bottom: 0px;
    width: 100px;
    left: -24px;
    z-index: 0;
    box-shadow: $root-shadow;
    pointer-events: none;
  }

  .click-area {
    @extend .cursor--pointer;
  }
}

.root-nav__link {
  display: flex;
  align-items: center;
  color: var(--dark-blue-100);
  padding-top: $block-link-padding / 3;
  padding-bottom: $block-link-padding / 3;
  @media (min-height: 1600px) {
    padding-top: $block-link-padding / 2;
    padding-bottom: $block-link-padding / 2;
  }
  width: map-fetch($layout, width, root-nav, closed);
  transition: width $animation-speed ease-in;
  overflow: hidden;
}

.root-nav__link__text {
  margin-left: spacer(1);
  display: none;
}

// Link--reverse text is white on white
// TODO(dave) remove link--reverse from these <a>s
.root-nav__link .link--reverse {
  color: var(--dark-blue-100) !important;
  &:hover, &:active {
    color: var(--light-blue-75) !important;
  }
}
.root-nav__link .link--reverse.admin--color {
  color: var(--purple) !important;
}

.root-nav__project,
.root-nav__link--primary {
  padding-left: $block-link-padding;
  padding-right: $block-link-padding;
}

.root-nav__project {
  white-space: nowrap;
  transition: opacity $animation-speed ease-in;
  opacity: 1;
  margin-top: 0 !important; // TODO(drau) HTML FIX
  padding-left: spacer(2); // TODO(drau) need sidenav component!
}

.root-nav__project,
.root-nav__link__text {
  opacity: 1;
  transition: opacity $animation-speed ease-in;
  transition-delay: $animation-speed / 1.2;
}

.root-nav__logo {
  height: 30px;
  position: relative;
  flex: none;
}

// Overwrite some styles when the navigation is expanded.
.root-nav--open {
  width: map-fetch($layout, width, root-nav, open);
  transition: width $animation-speed ease-in;

  &:after {
    content : '';
    position: absolute;
    top: 0px;
    background-color: transparent;
    bottom: 0px;
    width: 226px;
    left: 0;
    z-index: 0;
    box-shadow: $root-shadow;
  }

  .root-nav__logo--full {
    transition: opacity $animation-speed ease-in;
    opacity: 1;
  }
  .root-nav__logo--mark {
    opacity: 0;
  }

  .root-nav__link__text {
    display: block;
  }

  .root-nav__link {
    transition: width $animation-speed ease-in;
    width: map-fetch($layout, width, root-nav, open);
    overflow: visible;
  }
}

.root-nav__link--primary {
  &:hover {
    background: var(--light-blue-10);
    color: var(--light-blue-75);
  }

  &.is-active,
  &.is-active:hover {
    background: var(--light-blue-10);
  }
}

.root-nav__link--secondary,
.root-nav__link--tertiary {
  font-size: map-fetch($font, size, micro);
  &, &:visited {
    color: var(--dark-blue-100);
  }
  &:hover {
    color: var(--light-blue-75);
  }
}

.root-nav__link--secondary {
  padding-top: $block-secondarylink-padding / 4;
  padding-bottom: $block-secondarylink-padding / 4;
  @media (min-height: 1600px) {
    padding-top: $block-secondarylink-padding / 2;
    padding-bottom: $block-secondarylink-padding / 2;
  }
  padding-left: ($block-link-padding) + ($icon-dimensions--large - $icon-dimensions--small);
  padding-right: ($block-link-padding) + ($icon-dimensions--large - $icon-dimensions--small);
}


.root-nav-fader {
  opacity: 0;
  transition: opacity $animation-speed ease-in;

  * {
    cursor: default !important; // scss-lint:disable ImportantRule
  }
}

.root-nav__project > .oui-badge { background-color: var(--ron-project-badge); }
