////
/// Dialog
/// @example[html] Basic dialog
///   <div class="#{$namespace}dialog">
///     <div class="#{$namespace}dialog__header">
///       <div class="#{$namespace}dialog__title">Dialog Title</div>
///     </div>
///     <div class="#{$namespace}dialog__body">
///       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi ab quaerat dolor autem pariatur iure nisi debitis, dolores possimus ut, optio magni ratione incidunt cumque, inventore alias? Fugit, iusto eum.</p>
///     </div>
///     <div class="#{$namespace}dialog__footer oui-button-row--right">
///       <button class="oui-button">Cancel</button>
///       <button class="oui-button oui-button--highlight">Done</button>
///     </div>
///     <div class="#{$namespace}dialog__close">
///       <svg class="#{$namespace}icon">
///         <use xlink:href="#close-16"></use>
///       </svg>
///     </div>
///   </div>
////

.#{$namespace}dialog,
.oui-dialog {
  position: relative;
  flex: 1;
  max-width: map-fetch($layout, reading, max-width);
  min-width: map-fetch($layout, reading, min-width);
  margin: spacer(4) auto;
  padding-left: spacer(2);
  padding-right: spacer(2);
}

.#{$namespace}dialog__wrapper,
.oui-dialog__wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: map-fetch($color, background, white);
}

.#{$namespace}dialog__container,
.oui-dialog__container {
  position: relative;
  width: auto;
  height: auto;
  overflow: auto;
}

.#{$namespace}dialog__header,
.oui-dialog__header {
  margin-bottom: spacer(4);
}

.#{$namespace}dialog__body,
.oui-dialog__body {
  padding-bottom: spacer(3);
}

.#{$namespace}dialog__footer,
.oui-dialog__footer {
  padding: spacer(1) 0;
  border-top: 1px solid map-fetch($color, ui, light);
}

.#{$namespace}dialog__title,
.oui-dialog__title {
  font-size: map-fetch($font, size, beta);
  color: map-fetch($color, text, brand-dark);
  line-height: 1;
}

.#{$namespace}dialog__close,
.oui-dialog__close {
  @include dialog-close;
}
