////
/// Non-standard rules to disable text selection
////
@mixin no-select {
  // This is not part of the CSS specification.
  // https://developer.mozilla.org/en-US/docs/Web/CSS/user-select

  // scss-lint:disable VendorPrefix
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
